$brand-color:           #21618C !default;
$brand-color-light:     lighten($brand-color, 20%) !default;
$brand-color-dark:      darken($brand-color, 20%) !default;

$text-color:            #111111 !default;
$text-color-light:      lighten($text-color, 30%) !default;

$link-base-color:       $text-color !default;
$link-visited-color:    $text-color !default;
$link-hover-color:      $brand-color-light !default;
