{% assign user = page.user | default: page.users[0] | default: site.user %}
{% assign cv = site.data.users[user] | default: user %}


<div id="cv_avatar">

{% if cv.avatar %}
  <div id="avatar">
      <img src="{{ cv.avatar }}" alt="{{ cv.name }}"">
  </div>
{% endif %}
    <div id="cv_name" >{{ cv.name }}</div>
    <script>
      jQuery("#cv_name").fitText();
    </script>
    <p id="cv_bio">{{ cv.bio }}</p>
</div>


<div id="cv_profile">
  <div id="cv_contact">

    <div class="cv_profile_h">Contact</div>

    <!-- Profile -->
    {% if cv.email_user %}
      <div class="cv_profile_detail">
        <div class="cv_icon">
          <i class="fas fa-envelope-square"></i>
        </div>
        <div class="cv_profile_name">
          {{ cv.email_user }} <i class="fas fa-at" aria-hidden="true"></i> {{ cv.email_domain }}
        </div>
      </div>
    {% endif %}


    {% for sec_id in cv.links %}
      {% assign account = cv[sec_id] %}
      <div class="cv_profile_detail">
        <a href="{{account.url}}{{account.name}}">
          <div class="cv_icon">
            <i class="fab fa-{{account.icon}}"></i>
          </div>
          <div class="cv_profile_name">
            {{account.name}}
          </div>
        </a>
      </div>
    {% endfor %}

    {% if cv.link %}
      <div class="cv_profile_detail">
        <a href="https://{{ cv.link }}">
          <div class="cv_icon">
            <i class="fas fa-link"></i>
          </div>
          <div class="cv_profile_name">
             {{ cv.link }}
          </div>
        </a>
      </div>
    {% endif %}




  <!-- Additional Info -->

  </div>
  <div id="cv_info">
    <div class="cv_profile_h">Info</div>

      {% if cv.location %}
        <div class="cv_profile_detail">
          <div class="cv_icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="cv_profile_name">
            {{ cv.location }}
          </div>
        </div>
      {% endif %}

      {% if cv.born %}
        <div class="cv_profile_detail">
          <div class="cv_icon">
            <i class="fas fa-birthday-cake"></i>
          </div>
          <div class="cv_profile_name">
            <div id="age"></div>
          </div>
        </div>
      {% endif %}
      <!-- Script to get the Age using moment.js -->
      <script>
      $("#age").replaceWith(moment().diff(moment('{{cv.born}}', 'YYYY-MM-DD'), 'years')+ " Years");
      </script>

      {% if cv.nationality %}
        {% for sec_id in cv.nationality %}
          {% assign nat = cv[sec_id] %}
          <div class="cv_profile_detail">
              <div class="cv_icon">
                <i class="fas fa-flag"></i>
              </div>
              <div class="cv_profile_name">
                {{nat.name}} <span class="flag-icon flag-icon-{{nat.flag}}"></span>
              </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if cv.languages %}
        {% for sec_id in cv.languages %}
          {% assign lan = cv[sec_id] %}
          <div class="cv_profile_detail">
              <div class="cv_icon">
                <i class="fas fa-language"></i>
              </div>
              <div class="cv_profile_name">
                {{lan.name}} <span class="flag-icon flag-icon-{{lan.flag}}"></span>
              </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if cv.roles %}
        {% for rol in cv.roles %}
          <div class="cv_profile_detail">
              <div class="cv_icon">
                <i class="fas fa-tags"></i>
              </div>
              <div class="cv_profile_name">
                {{rol}}
              </div>
          </div>
        {% endfor %}
      {% endif %}


    </div>
</div>
