{% assign user = page.user | default: page.users[0] | default: site.user %}
{% assign cv = site.data.users[user] | default: user %}

<div class="cv-section">






{% for sec_id in cv.sections %}
  {% assign section = cv.data[sec_id] %}
  {% if include.pagenumber > 1 %}
     {% if section.page == include.pagenumber %}






       <h3 class="cv-section">{{section.title}}</h3>





       {% for item in section.items %}
         {% for keyvalue in item %} {%comment%} trick to get the arbitrarily-named key {%endcomment%}
           {{keyvalue[0]}}
           {{keyvalue[1] | markdownify}}
         {% endfor %}
       {% endfor %}

     {% endif %}
  {% else %}
    {% unless section.page > 1%}

      {% if sec_id == "about" %}

        <h3 class="cv_section">{{section.title}}</h3>
        {{section.description}}
      {% endif %}



    <h3 class="cv_section">{{section.title}}</h3>
    <img src="{{ section.logo }}" alt="{{ section.title }}">

    {{ section.description | markdownify }}


    {% endunless %}
  {% endif %}
{% endfor %}

</div>
