@charset "utf-8";


// Define defaults for each variable.

$base-font-family: 'Open Sans', sans-serif !default;
$base-font-size:   12px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
