---
layout: default
---

{% assign user = page.user | default: page.users[0] | default: site.user %}
{% assign cv = site.data.users[user] | default: user %}

<!-- Each sheet element should have the class "sheet" -->
<!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
{% for i in (1..cv.pages) %}
  <section class="sheet padding-10mm">
    <!-- Write HTML just like a web page -->
    <article>
      {% if forloop.first == true %}
        {% include cv-profile.html %}
      {% endif %}
      {% include cv-sections.html pagenumber=forloop.index %}      
    </article>
  </section>
{% endfor %}
